
  
  #input-box {
    width: 50%;
    padding: 10px;
    border: 1px solid #4735d3;
    border-radius: 500px;
    border-width: 5px;
    margin-bottom: 5px;
  }
  
 
  button {
    background-color: #9a0c5c; 
    color: rgb(60, 8, 120);
    padding: 50px 30px;
    border: 1px solid #2f2389;
    border-radius: 50px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
  
  #todo-items {
    list-style: none;
    padding: 50px;
  }
  
  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    border-bottom: 0px solid #2a3634;
  }
  
  .row .alert {
    width: 80%; 
    padding: 10px;
    border-radius: 5px;
  }

  .row button {
    background-color: #4d20c0; 
    color: rgb(29, 33, 109);
    border-style: none;
    border-width: 2px;
    padding: 10px 15px;
    border-radius: 100px;
    border-color: aqua;
    background-origin: padding-box;
    font-family: Arial, sans-serif;
    cursor: pointer;
  }
  
  .row button:hover {
    background-color: #2ad318;
    background-attachment: local;
  }
  body{
    background-color: #766894;
  }
